*{
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.doc-container{
    display: flex;
    background-color: rgb(245, 245, 245);
}

.left-side-panel{
    background-image: url("./images/leaves.jpg");
    background-size: cover;
    flex-shrink: 1;
    height: 100vh;
    width: 33.33vw;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.logo-container{
    height:200px;
    width: 100%;
    background: rgb(0,0,0,0.55);
    color: white;
    margin-top: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-side-panel{
    flex-shrink: 2;
}

.info-panel{
    position: relative;
    height: 300px;
}

.ip-text-content{
    position: absolute;
    bottom: 0;
    margin: 75px;
    font-size: 24px;
}

#user-info input{
    display: block;
}

.form-section{
    background-color: rgb(255, 255, 255);
    height: 500px;
    width: 66.66vw;
    display: flex;
    align-items: center;
    box-shadow: 0px 5px 5px rgb(219, 219, 219);
}

.form-section > section > h1{
    font-size: 40px; 
    margin: 15px;
    margin-bottom: 20px;
    margin-left: 75px;
}

.form-row{
    display: flex;
}

.form-row > p{
    display:block;
    margin: 15px;
    margin-left: 75px;
    /* margin-right: 75px; */
}

input, label{
    font-size: 18px;
    color: #333333;
    height: 30px;
    border-color: #E5E7EB;
    border-radius: 5px;
    margin-top:10px;
    width:300px;
}

input:valid:focus{
    outline-style: none;
    outline-width: 2px;
    outline-color:#596D48;
    border-color: #596D48;
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    box-shadow: 0px 5px 5px rgb(219, 219, 219);
    
}

input:invalid:focus{
    outline-style: none;
    outline-color:red;
    border-color: red;
    border-style: solid;
    border-width: 2px;
    box-shadow: 0px 5px 5px rgb(219, 219, 219);
}

.submit-section-content{
    margin: 75px;
    margin-top: 40px;
    font-size: 22px;
}

.submit-section-content > button{
    margin-bottom: 20px;
    background-color: #596D48;
    box-shadow: 0px 5px 5px rgb(219, 219, 219);
    color: white;
    padding: 15px;
    border-radius: 11px;
    font-size: 22px;
    width: 250px;
}

.submit-section-content > p > span{
    color: #596D48;
}

#pic{
    height: 100vh;
}